@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
:root{
    --green: rgb(21, 131, 48);
    --text-color: rgb(253, 253, 253);
    --background-color: rgb(0, 0, 0);
}
body{
    background-color: black;
    margin: 0%;
    padding: 0%;
}
.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}